.navbar{
    background-color:#6ac254;
    display: flex;
    position: relative;
    height:70px;
    padding-bottom: 1%;
}
body{
    margin: 0%;
    padding: 0%;
    width:100vw;
    overflow-x:hidden;
}
.webname{
    padding-right: 40px;
    padding-left: 40px;
   color:#ffffff;
   padding-top: 7px;
   margin-top: 15px;
   font-size: 150%;
}

.p3{
    padding-left: 10px;
    margin-left: auto;
    margin-right: 50px;
    padding-top: 7px;
    color:#ffffff;
    font-size: 150%;
    margin-top: 15px;
}
.heading{
    text-align: center;
    color: #6ec257;
    font-size: 250%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.heading2{
    color: #6ec257;
    font-size: 250%;
    margin-top: 4%;
    margin-left: 11%;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.heading3{
    color: #6ec257;
    font-size: 250%;
    margin-top: 4%;
    margin-left: 11%;
    padding-bottom: 0px;
    margin-bottom: 10px;
}




.foodimage{
    border-radius: 22px;
    width:100%;
    margin-top: 10px;
}
.name{
    margin-top: 20px;
    margin-left: 5px;
}
.desc{
    margin-top: 10px;
    margin-left: 5px;
}

.chinese{
 
    display: flex;
    flex-direction: row;
    width:100%;
    align-content: center;
    margin-left: 8%;
    flex-wrap: wrap;
    margin-right: 10%;
}

.italian{

    display: flex;
    flex-direction: row;
    width:100%;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 8%;
}
.dish{
    align-items: center;
    background-color: green;
    color: #f5f5f5;
    border-radius: 6%;
    margin-left: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: 25%;
    margin-top: 30px;


}
.row1{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 10%;

}
.row2{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 10%;

}
.food{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10%

}
.btn {
    background: #185503;
    font-family: Arial;
    color: #ffffff;
    font-size: 21px;
    padding-top: 17px;
    margin-top: 10px;
    padding-right: 6px;
    text-decoration: none;
    margin-right: 2%;
    padding-left: 5px;
    padding-bottom: 3px;
  }
  
.btn:hover {
    background: #40e617;
    text-decoration: none;
  }
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="dish"] {
      width: 100%;
    }
  }
